@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Playfair+Display&family=Roboto+Condensed&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("https://s2sam9dbz1a.typeform.com/to/YPRs3eVc")

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	margin: 0px;
 }

h1,h2,h3 {
	font-family: 'Playfair Display', serif;
	font-weight: bold; 
 }

h4 {
	font-family: 'Playfair Display', serif;
	font-weight: lighter;
 }

 a {
 	text-decoration: none;

  }
